<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/dop.css">
    <!-- endbuild -->
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="../source/main.js"></script>
</head>

<body ng-app="app" ng-cloak>
    <div class="my-test-text">{{1+13}}
    </div>
</body>

</html>